.commonCard
{
    position: relative !important;
}
.buttonDiv
{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.397);
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(2px);
    visibility: hidden;
}
.commonCard:hover .buttonDiv
{
    visibility: visible;
}